header {
  padding: 20px 4%;
  position: sticky;
  top: 0;
  width: 92%;
  z-index: 2;
  display: flex;
  background-color: $white;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $greyStroke;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.02);

  .logo {
    &_text {
      font-weight: 700;
      width: max-content;

      .cloud {
        display: inline;
      }

      .cul {
        display: none;
      }

      &:hover {
        .cloud {
          display: none;
        }

        .cul {
          display: inline;
        }
      }
    }
  }
  .section_filters{
    &_bloc{
      display: flex;
      padding: 5px;
      background: white;
      border-radius: 90px;
      position: relative;
      .hover-filter{
        position: absolute;
        bottom: 5px;
        height: 2.5px;
        background-color: rgba(48, 50, 255, 0);
        border-radius: 90px;
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
      .background-filter{
        position: absolute;
        bottom: 5px;
        height: 2.5px;
        background-color: $blue;
        border-radius: 90px;
        z-index: 7;
        transition: all 0.3s ease-in-out;
      }
      &_item{
        padding: 7px 6px;
        font-size: 18px;
        z-index: 10;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        width: max-content;
        &#btnCreate:hover ~.hover-filter{
          width: 142px;
          left: 5px;
        }
        &#btnMaintenance {
          padding: 7px 26px;
          &:hover ~ .hover-filter {
            width: 199px;
            left: 167px;
          }
        }
        &#btnStat:hover ~.hover-filter{
          width: 121px;
          left: 384px;
        }
        &:hover ~.hover-filter{
          background-color: rgba(48, 50, 255, 0.1);
        }
        &.active{
          &#btnCreate ~.background-filter{
            width: 164px;
            left: 5px;
          }
          &#btnMaintenance ~.background-filter{
            left: 167px;
          }
          &#btnStat ~.background-filter{
            left: 363px;
          }
        }
      }
    }
  }
}