.page_index{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
}

.section_filters{
  &_bloc{
    display: flex;
    padding: 5px;
    background: white;
    border-radius: 90px;
    position: relative;
    .hover-filter{
      position: absolute;
      top: 5px;
      height: calc(100% - 10px);
      background-color: rgba(48, 50, 255, 0);
      border-radius: 90px;
      z-index: 5;
      transition: all 0.3s ease-in-out;
    }
    .background-filter{
      position: absolute;
      top: 5px;
      height: calc(100% - 10px);
      background-color: $blue;
      border-radius: 90px;
      z-index: 7;
      transition: all 0.3s ease-in-out;
    }
    &_item{
      padding: 7px 17px;
      font-size: 18px;
      z-index: 10;
      transition: all 0.4s ease-in-out;
      &:nth-child(2){
        padding: 7px 22px;
      }
      &#btnCreate:hover ~.hover-filter{
        width: 164px;
        left: 5px;
      }
      &#btnMaintenance:hover ~.hover-filter{
        width: 198px;
        left: 174px;
      }
      &#btnStat:hover ~.hover-filter{
        width: 177px;
        left: 379px;
      }
      &:hover ~.hover-filter{
        background-color: rgba(48, 50, 255, 0.1);
      }
      &.active{
        //background-color: $blue;
        color: $white;
        &#btnCreate ~.background-filter{
          width: 164px;
          left: 5px;
        }
        &#btnMaintenance ~.background-filter{
          width: 198px;
          left: 174px;
        }
        &#btnStat ~.background-filter{
          width: 177px;
          left: 379px;
        }
      }
    }
  }
}

.section_form {
  width: 80%;
  max-width: 650px;
  &_item {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    transform: translateX(-15px);
    opacity: 0;
    transition: all 0.45s ease-in-out;

    &.active{
      display: flex;
      transform: translateX(0);
      opacity: 1;
    }
    &_user {
      width: 100%;
      &_bloc {
        background: $white;
        border: 0.5px solid $greyStroke;
        box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.02);
        border-radius: 14px;
        padding: 40px;
        &_title {
          margin-bottom: 30px;

          h1 {
            text-align: center;
          }
        }

        form {
          button {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.consommation_stockage{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.users-storage{
  display: flex;
  flex-direction: column;
  gap: 8px;
  .user{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}